* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-primary: #FFF;
    --white-secondary: #f8f8f8;
    --white-tertiary: #e2e2e2;
    --white-quaternary: #fefefe;

    --purple-primary: #835afd;

    --gray-primary: #a8a8b3;
    --gray-secondary: #737380;
    --gray-tertiary: #dbdcdd;

    --red-primary: #ea4335;

    --pink-primary: #e559f9;

    --dark-primary: #29292e;
}

body {
    background: var(--white-secondary);
    color: var(--dark-primary);
}

body, input, button, textarea {
    font: 400 16px 'Roboto', sans-serif;
    outline: none;
}